<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Take a virtual journey to any location in the world. Explore 3D buildings, imagery, and terrain. Find cities, places and local businesses.</string>
	<key>display_name</key>
	<string>Google Earth</string>
	<key>installer_item_hash</key>
	<string>da04b20317045363a9252d418d8c47523c0b704b1f42f9725db2e8595fcaae6f</string>
	<key>installer_item_location</key>
	<string>apps/GoogleEarth/GoogleEarth-7.1.dmg</string>
	<key>installer_item_size</key>
	<integer>43912</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Google.GoogleEarthPlus</string>
			<key>CFBundleName</key>
			<string>Google Earth</string>
			<key>CFBundleShortVersionString</key>
			<string>7.1</string>
			<key>CFBundleVersion</key>
			<string>7.1.1.1888</string>
			<key>minosversion</key>
			<string>10.6.0</string>
			<key>path</key>
			<string>/Applications/Google Earth.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Google Earth.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>GoogleEarth</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.1</string>
</dict>
</plist>
