<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Expression Media</string>
		<string>Firefox</string>
		<string>Google Chrome</string>
		<string>Microsoft Cert Manager</string>
		<string>Microsoft Chart Converter</string>
		<string>Microsoft Clip Gallery</string>
		<string>Microsoft Communicator</string>
		<string>Microsoft Entourage</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Excel</string>
		<string>Microsoft Graph</string>
		<string>Microsoft Help Viewer</string>
		<string>Microsoft Language Register</string>
		<string>Microsoft Lync</string>
		<string>Microsoft Messenger</string>
		<string>Microsoft Outlook</string>
		<string>Microsoft PowerPoint</string>
		<string>Microsoft Query</string>
		<string>Microsoft Word</string>
		<string>MSN Messenger</string>
		<string>My Day</string>
		<string>Opera</string>
		<string>Organization Chart</string>
		<string>Remote Desktop Connection</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>&lt;html&gt;&lt;p&gt;I den här uppdateringen korrigeras kritiska problem och säkerheten förbättras. Den innehåller korrigeringar för säkerhetsbrister som en attackerare kan utnyttja för att skriva över innehållet i datorns minne med skadlig kod.&lt;/p&gt;

&lt;p&gt;Detaljerad information om uppdateringen finns på följande webbplats: &lt;/p&gt;

&lt;p&gt;&lt;a href="http://go.microsoft.com/fwlink/?LinkId=324038" target="_blank"&gt;http://go.microsoft.com/fwlink/?LinkId=324038&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;Om du behöver mer hjälp eller behöver en hämtningsbar version av den här uppdateringen kan du gå in på &lt;a href="http://go.microsoft.com/fwlink/?LinkId=216459" target="_blank"&gt;Microsofts webbplats&lt;/a&gt;.&lt;/p&gt;&lt;/html&gt;</string>
	<key>display_name</key>
	<string>Office 2011 14.3.8 Update</string>
	<key>installed_size</key>
	<integer>339946</integer>
	<key>installer_item_hash</key>
	<string>9eb741f0cdfb279a4188b9204ce3252b768dc58049038bfc0a1cb9c6f595bd95</string>
	<key>installer_item_location</key>
	<string>apps/Microsoft/Office2011/Office2011-1438Update_SV-SE-14.3.8.dmg</string>
	<key>installer_item_size</key>
	<integer>117455</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.3.8</string>
			<key>CFBundleVersion</key>
			<string>14.3.8</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Office/MicrosoftComponentPlugin.framework</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.8</string>
	<key>name</key>
	<string>Office2011_update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>11241</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.automator.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>141191</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.core.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>618</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.dcc.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.equationeditor.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>27608</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.excel.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.fix_permissions.pkg.14.3.8</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>241</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.fonts.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3608</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.graph.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>22425</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.ooxml.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>24402</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.outlook.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>19424</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.powerpoint.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_brazilian.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_catalan.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_czech.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_danish.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_dutch.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1852</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_english.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_finnish.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1392</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_french.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1897</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_german.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_italian.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1783</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_italian_grammar.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>290</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_japanese.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>799</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_norwegian.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_polish.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_portuguese.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_russian.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>402</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_spanish.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>402</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_swedish.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_turkish.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.quit.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>278</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.sharepointbrowserplugin.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5469</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.vb.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>36859</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.word.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.automator_workflow.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12925</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.core_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>257</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.dcc_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>889</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.equationeditor_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2216</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.excel_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>677</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.excel_templates.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>33</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.graph_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5412</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.outlook_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.outlook_scriptmenuitems.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>939</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.powerpoint_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6471</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.query.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.readme.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.sharepointbrowserplugin_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>754</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.solver.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2098</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.word_resources.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>963</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.word_templates.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>34</integer>
			<key>packageid</key>
			<string>com.microsoft.office.sv.word_wizards.pkg.14.3.8.update</string>
			<key>version</key>
			<string>14.3.8</string>
		</dict>
	</array>
	<key>requires</key>
	<array/>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>Office</string>
	</array>
	<key>version</key>
	<string>14.3.8</string>
</dict>
</plist>
